.priscira
.lokalius

**/.idea/
**/*.lock

rs-salvo/weibo.db*
rs-salvo/weibo-log.txt
rs-salvo/Cargo.lock
**/target/

**/.venv/
**/.pdm-python
**/pdm.lock
**/Pipfile
**/Pipfile.lock
**/.python-version
**/.py[cod]
**/__pycache__/
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/
**/*.egg-info/
**/activate.mx

**/*.db
**/*.sqlite
**/weibo_hot_timeline_pics/*
