.priscira
.lokalius
**/activate.yash

**/.idea/

rs-salvo/weibo.db*
**/target/

**/.venv/
**/.pdm-python
**/pdm.lock
**/Pipfile
**/Pipfile.lock
**/.python-version
**/.py[cod]
**/__pycache__/
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/
**/*.egg-info/

**/*.db
**/*.sqlite
**/weibo_hot_timeline_pics/*
